.grid {
  border-collapse: collapse;
  width: fit-content;
  height: 400px;
}

.grid td {
  border: 1px dashed black;
  border-bottom: 0;
  padding: 0;
  width: 60px;
}

.grid tr {
  /* border: 1px dashed black;
  height: 100px;
  width: 400px; */
}


.test {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 2;
}

.test2 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
}